
*{
 padding:0;
 margin:0;
 box-sizing: border-box;
}

h1{
 font-size: 5rem;
 font-weight: bold;
 justify-content: center;
 color: #fff;
 letter-spacing: 2px;
}

h3{
 font-size: 2rem;
 font-weight: bold;
 justify-content: center;
 color: #fff;
 letter-spacing: 3px;
}

.one{
 justify-content: center;
 display: flex;
 align-items: center;
 padding-top: 40vh;
}

.two{
 justify-content: center;
 display: flex;
 align-items: center;
 padding-top: 0;
}

.fade-in{
   opacity:0;
  animation: fade-in 1.75s ease-in forwards;
}

@keyframes fade-in {

 to{
  opacity: 1;
 }

}
  


