---
import './style.scss'

---

<html>
  <div1 class="one">
    <h1 class="fade-in">Hi, I'm Fabio!</h1>
  </div1>
 <div2 class="two">
    <h3 class="fade-in">Let's grow together</h3> 
  </div2>
</html>
