#section4 {
  margin: 0;
  padding: 0;
  height: 90vh;
  padding-bottom: 60vh;
}

h2 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  color: #fff;
  font-weight: medium;
  font-style: italic;
}

.discord-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.contact-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #7289da;
}

h2.contact-container-2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #1da1f2;
  margin-bottom: 0.5rem;
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-decoration: none;
  margin-bottom: 6rem;
  font-style: italic;
}

.contact-text {
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  text-decoration: none;
}

.contact-text-2 {
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  text-decoration: none;
}

.contact-text p {
  color: #7289da;
}

.contact-text-2 p {
  color: #1da1f2;
}
