---
import './testimonial.scss';
import './style.scss';
import './videos.scss';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollspy Navbar</title>
     <script src='../../../public/scripts/navbar-scroll.js'></script>
    <script src='../../../public/scripts/testimonials-carousel.js'></script>
    <script src='../../../public/scripts/video-mossaic.js'></script>
   </head>
 <body>
<nav>
    <ul>
        <li><a href="#section1" class="nav-link">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5 7.063C16.5 10.258 14.57 13 12 13c-2.572 0-4.5-2.742-4.5-5.938C7.5 3.868 9.16 2 12 2s4.5 1.867 4.5 5.063zM4.102 20.142C4.487 20.6 6.145 22 12 22c5.855 0 7.512-1.4 7.898-1.857a.416.416 0 0 0 .09-.317C19.9 18.944 19.106 15 12 15s-7.9 3.944-7.989 4.826a.416.416 0 0 0 .091.317z" fill="#ffffff"/></svg>
        </a></li>
        <li><a href="#section2" class="nav-link">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.968 18.769C15.495 18.107 19 14.434 19 9.938a8.49 8.49 0 0 0-.216-1.912C20.718 9.178 22 11.188 22 13.475a6.1 6.1 0 0 1-1.113 3.506c.06.949.396 1.781 1.01 2.497a.43.43 0 0 1-.36.71c-1.367-.111-2.485-.426-3.354-.945A7.434 7.434 0 0 1 15 19.95a7.36 7.36 0 0 1-4.032-1.181z" fill="#ffffff"/><path d="M7.625 16.657c.6.142 1.228.218 1.875.218 4.142 0 7.5-3.106 7.5-6.938C17 6.107 13.642 3 9.5 3 5.358 3 2 6.106 2 9.938c0 1.946.866 3.705 2.262 4.965a4.406 4.406 0 0 1-1.045 2.29.46.46 0 0 0 .386.76c1.7-.138 3.041-.57 4.022-1.296z" fill="#ffffff"/></svg>
        </a></li>
        <li><a href="#section3" class="nav-link">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".6" fill-rule="evenodd" clip-rule="evenodd" d="M3 4h18a1 1 0 0 1 1 1v1H2V5a1 1 0 0 1 1-1z" fill="#ffffff"/><path opacity=".3" fill-rule="evenodd" clip-rule="evenodd" d="M5 2h14a1 1 0 0 1 1 1v1H4V3a1 1 0 0 1 1-1z" fill="#ffffff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1 6h22a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1zm0 2v3h3V8H1zm0 5v3h3v-3H1zm0 5v3h3v-3H1zM20 8v3h3V8h-3zm0 5v3h3v-3h-3zm0 5v3h3v-3h-3z" fill="#ffffff"/></svg>
        </a></li>
        <li><a href="#section4" class="nav-link">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.272 6.365C2 6.9 2 7.6 2 9v6c0 1.4 0 2.1.272 2.635a2.5 2.5 0 0 0 1.093 1.092C3.9 19 4.6 19 6 19h12c1.4 0 2.1 0 2.635-.273a2.5 2.5 0 0 0 1.092-1.092C22 17.1 22 16.4 22 15V9c0-1.4 0-2.1-.273-2.635a2.5 2.5 0 0 0-1.092-1.093C20.1 5 19.4 5 18 5H6c-1.4 0-2.1 0-2.635.272a2.5 2.5 0 0 0-1.093 1.093zM4.647 7h14.706a.5.5 0 0 1 .278.916l-7.075 4.732a1 1 0 0 1-1.112 0L4.369 7.916A.5.5 0 0 1 4.647 7z" fill="#ffffff"/></svg>         
        </a></li>
    </ul>
  </nav>

      <section id="section1" class="content-section">
      <div class="contain">
        <p1>Lorem ipsum odor amet, consectetuer adipiscing elit. Parturient posuere hac conubia non mi facilisi euismod.</p1>
        <p2>Lorem ipsum odor amet, consectetuer adipiscing elit. Parturient posuere hac conubia non mi facilisi euismod.</p2>
      </div>
        <iframe class="video" 
                   src="https://www.youtube.com/embed/GcBovj0PSks" 
                   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                   allowfullscreen>
        </iframe> 
    </section>

  <section id="section2">
  <div class="container">
    <div class="testimonial-carousel">
      <div class="carousel-inner">
        <div class="testimonial active">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
 
              <h3>- John Doe</h3>
              <div class="pfp">
                <img src="../../../public/placeholderpfp.svg">
              </div>
        </div>
        <div class="testimonial">
          <p>Ante mauris gravida sagittis purus maecenas velit pulvinar hendrerit. Nec at nisi ultricies tristique amet, sodales luctus litora. Proin curae nibh ipsum cubilia parturient sociosqu. Tincidunt penatibus consequat senectus; ornare ac vitae facilisi odio eget. Elit auctor congue porta eget tempor sem rutrum a. Himenaeos class risus vel lacinia mollis nulla condimentum efficitur.</p>
              <h3>- Jane Smith</h3>
              <div class="pfp">
                <img src="../../../public/placeholderpfp.svg">
              </div>
        </div>
        <div class="testimonial">
          <p>Auctor vel litora nibh lorem penatibus platea proin. Mollis sapien eleifend scelerisque elit, fringilla libero. Fusce magna varius justo lacinia platea morbi elementum. Massa ad nisi erat, turpis aliquet consectetur. Enim convallis facilisis nunc luctus himenaeos lacinia. Tellus augue varius dui aenean nostra. Tristique conubia fusce litora; montes gravida dignissim integer metus.</p>
              <h3>- Mark Johnson</h3>
              <div class="pfp">
                 <img src="../../../public/placeholderpfp.svg">
               </div>
         </div>
      <button class="prev-btn" onclick="prevTestimonial()">&#10094;</button>
      <button class="next-btn" onclick="nextTestimonial()">&#10095;</button>
    </div>
  </div>
</section>
  

  <section id="section3">
<div class="video-mosaic">
  <div class="video-container">
          <video src="../../../public/videos/missed_the_bus.mp4" muted loop preload="metadata"></video>
  </div>
  <div class="video-container">
          <video src="../../../public/videos/funny_car.mp4" muted loop preload="metadata"></video>
  </div>
  <div class="video-container">
          <video src="../../../public/videos/random_polish_farmer.mp4" muted loop preload="metadata"></video>
  </div>
  <div class="video-container">
          <video src="../../../public/videos/random_polish_farmer.mp4" muted loop preload="metadata"></video>
  </div>
  <div class="video-container">
          <video src="../../../public/videos/random_polish_farmer.mp4" muted loop preload="metadata"></video>
  </div>
  <div class="video-container">
          <video src="../../../public/videos/random_polish_farmer.mp4" muted loop preload="metadata"></video>
  </div>
  <div class="video-container">
          <video src="../../../public/videos/random_polish_farmer.mp4" muted loop preload="metadata"></video>
  </div>
  <div class="video-container">
          <video src="../../../public/videos/random_polish_farmer.mp4" muted loop preload="metadata"></video>
  </div>
</div>
  </section>

  <section id="section4">
    <h2>Section 4</h2>
      <p>Content for section 4...</p>
  </section>
 </body>
</html>

