     nav {
      position: fixed;
      top: 0;
       width: 100vw;
      background-color:transparent; 
      z-index: 1000;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    nav ul li {
      margin: 0 15px;
    }

    nav ul li a {
      color: white;
      text-decoration: none;
      padding: 10px;
      display: inline-block;
      transition: background-color 0.3s ease, color 0.3s ease;
      border-radius: 5px;
    }

    nav ul li a.active {
      background-color:#D24A15;
    }

nav ul li a:hover {
      background-color: #DB561E; 
     }

    section {
      height: 100vh;
      padding: 120px;
      top: 50%;
    }

    section:nth-child(odd) {
      background-color: #000;
    }

    section:nth-child(even) {
      background-color: #000;
    }

html {
  scroll-behavior: smooth;
}


/* Section Styles */
#services {
  background-color: #000;
  padding: 80px 0;
  text-align: center;
}

#services .container {
  max-width: 1100px;
  margin: auto;
}


.testimonial-carousel {
  margin-top: 50px;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.carousel-inner {
  position: relative;
}

.testimonial {
  display: none;  
  text-align: center;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; }

.testimonial.active {
  display: block;
}

h3 {
  margin-top: 20px;
  color: #555;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

