.video-mosaic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
}

.video-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
  width: 100%;
  height: 500px;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#section3 {
  height: 300vh;
  padding: 7.5vw;
}
